<!DOCTYPE html>
<html lang="en">

<head>
    <title>짭 북토끼라네~</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>

    <script>
        let fontWeight = 400;
        let fontSize = 100;
        const minFontSize = 50;
        const maxFontSize = 300;
        $(document).ready(function () {
            let tempSize = getCookie('fontSize');
            if(tempSize != null) {
                fontSize = tempSize;
                applyFontSize();
            }
            let tempFontWeight = getCookie('fontWeight');
            if(tempFontWeight != null) {
                fontWeight = tempFontWeight;
                $('#novelContent').css('font-weight', fontWeight);
            }
        });
        function getCookie(name) {
            let nameEQ = name + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        function fontBigger() {
            fontSize += 10;
            if(fontSize > maxFontSize) fontSize = maxFontSize;
            applyFontSize();
        }
        function fontSmaller() {
            fontSize -= 10;
            if(fontSize < minFontSize) fontSize = minFontSize;
            applyFontSize();
        }
        function applyFontSize() {
            document.cookie = `fontSize=${fontSize}`
            $('#novelContent').css('fontSize', `${fontSize}%`)
        }

        function boldToggle() {
            if(fontWeight == 400)
                fontWeight = 700;
            else
                fontWeight = 400;
            $('#novelContent').css('font-weight', fontWeight)
            document.cookie = `fontWeight=${fontWeight}`
        }

        function selectContent(novelName, contentName) {
            location.href = `view?novelName=${novelName}&contentName=${contentName}`;
        }
        function beforeView(novelName, contentOrder, count) {
            if (contentOrder == 1)
                alert("이전화가 없습니다");
            else
                location.href = `/beforeView?novelName=${novelName}&contentOrder=${contentOrder}`;
        }
        function afterView(novelName, contentOrder, count) {
            if (contentOrder == count)
                alert("최종화입니다");
            else
                location.href = `/afterView?novelName=${novelName}&contentOrder=${contentOrder}`;
        }
        function toggleTouch() {
            if ($('.toggleDiv').css('display') == 'block')
                $('.toggleDiv').css('display', 'none');
            else
                $('.toggleDiv').css('display', 'block');
        }
        const toggleObject = {
            flag: true,
            touch: function () {
                if (this.flag) {
                    this.flag = false;
                    $('.toggleDiv').css('display', 'none');
                }
                else {
                    this.flag = true;
                    $('.toggleDiv').css('display', 'block');
                }
            }
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/" target="_self">HOME</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" target="_self">함함</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <div class="container p-3 my-3 bg-dark text-white" onclick="toggleTouch()">
        <h4>
            <%= novelName %>
        </h4>
        <h5>
            <%= `${contentOrder}/${count} | ${contentName}` %>
        </h5>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" id="novelContent">
                <% for(let i=0; i<contents.length; i++) { %>
                    <p>
                        <%=contents[i]%>
                    </p>
                    <% } %>
            </li>
        </ul>
        <h5>
            <%= `${contentOrder}/${count} | ${contentName}` %>
        </h5>
    </div>
    <div class="toggleDiv">
        <nav class="navbar navbar-dark bg-dark fixed-bottom">
            <a class="navbar-text">
                <%= `${novelName} ${contentOrder}/${count}` %>
            </a>
            <div>
                <button type="button" class="btn btn-secondary btn-sm" onclick="boldToggle()">굵게</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="fontBigger()">폰트크게</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="fontSmaller()">폰트작게</button>
                <button type="button" class="btn btn-secondary btn-sm"
                    onclick="beforeView('<%=novelName%>','<%=contentOrder%>','<%=count%>')">이전화</button>
                <button type="button" class="btn btn-secondary btn-sm"
                    onclick="afterView('<%=novelName%>','<%=contentOrder%>','<%=count%>')">다음화</button>
            </div>
        </nav>
    </div>
</body>

</html>